# -*- coding: utf-8 -*-
# vim: ft=jinja

{# This is a barebones map.jinja file #}
{# We import default values that are then merged with pillar data #}

{# Imports defaults #}
{% import_yaml (tpldir + "/files/defaults.yaml") as defaults %}

{# Merge in flash:lookup pillar #}
{% set flash_settings = salt['pillar.get']('flash:lookup', default=defaults.flash, merge=True) %}
